
<div class="jumbotron">
  <h1 align="center">Welcome to my Blogspot</h1>
  <div align="center">
  	<%= link_to "Sign Up", "#", class: "btn btn-lg btn-primary" %>
  	<%= link_to "Log In", "#", class: "btn btn-lg btn-success" %>
  </div>
</div>

<%= link_to "All Bloggers", users_path %> |
<%=link_to "Home", root_path %>