<h2>Category: <%= @category.name %></h2>
<h4><%= link_to "Edit Category", edit_category_path(@category) if logged_in? && current_user.admin? %></h4>

<% @category_articles.each do |article| %>
	<p><%= link_to article.title, user_article_path(article.user, article) %></p>
<% end %>
